<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        {{#each integrantes}}
        <li><a href="/integrantes/{{matricula}}"> {{nombre}} {{apellido}} ({{matricula}})</a></li>
        {{/each}}
        <li><a href="/paginas/curso.html">Información del curso</a></li>
        <li><a href="/paginas/word_cloud.html">Word Cloud</a></li>
    </ul>
</nav>
